<h2 class="text-2xl font-bold mb-6 text-center">Đăng nhập</h2>

<form [formGroup]="form" (ngSubmit)="onLogin()" class="flex flex-col gap-4">
  <tui-input
    formControlName="email"
    [tuiTextfieldCleaner]="true"
    >
    Email
    <input
      autocomplete="email"
      tuiTextfieldLegacy
      type="email"
      />
  </tui-input>
  @if (email.touched && email.invalid) {
    <div class="text-red-600 text-sm">
      @if (email.hasError('required')) {
        <div>Email là bắt buộc</div>
      }
      @if (email.hasError('email')) {
        <div>Email không hợp lệ</div>
      }
    </div>
  }

  <tui-input
    formControlName="password"
    type="password"
    [tuiTextfieldCleaner]="true"
    class="w-full"
    >
    Mật khẩu
    <input
      autocomplete="password"
      tuiTextfieldLegacy
      type="password"
      />
  </tui-input>
  @if (password.touched && password.invalid) {
    <div class="text-red-600 text-sm">
      @if (password.hasError('required')) {
        <div>Mật khẩu là bắt buộc</div>
      }
      @if (password.hasError('minlength')) {
        <div>Mật khẩu tối thiểu 6 ký tự</div>
      }
    </div>
  }

  <button
    [disabled]="form.invalid"
    [loading]="loginApiStatus === HttpStatus.LOADING"
    tuiButton
    type="submit"
    appearance="primary"
    size="l"
    class="w-full mt-2"
    >
    Đăng nhập
  </button>
</form>
