<div class="mb-4 flex items-center justify-between">
  <h2 tuiTitle="m">
    Danh sách người dùng
  </h2>
  <button
    tuiButton
    size="s"
    appearance="primary"
    (click)="openCreateUserDialog(createUserTpl)"
    >
    Thêm mới
  </button>
</div>
<tui-scrollbar>
  <cdk-virtual-scroll-viewport
    #viewport
    appendOnly
    tuiScrollable
    class="viewport tui-zero-scrollbar"
    [itemSize]="45"
    [maxBufferPx]="500"
    [minBufferPx]="400"
    >
    <table
      tuiTable
      [columns]="columns"
      >
      <thead>
        <tr tuiThGroup>
          <th
            *tuiHead="'email'"
            tuiTh
            [sticky]="true"
            [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)"
            >
            Email
          </th>
          <th
            *tuiHead="'name'"
            tuiTh
            [sticky]="true"
            [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)"
            >
            Tên
          </th>
          <th
            *tuiHead="'roles'"
            tuiTh
            [sticky]="true"
            [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)"
            >
            Vai trò
          </th>
          <th
            *tuiHead="'status'"
            tuiTh
            [sticky]="true"
            [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)"
            >
            Trạng thái
          </th>
          <th
            *tuiHead="'action'"
            tuiTh
            [sticky]="true"
            [style.top.px]="-(viewport.getOffsetToRenderedContentStart() || 0)"
            >
            Hành động
          </th>
        </tr>
      </thead>
      <tbody tuiTbody>
        <tr
          *cdkVirtualFor="let item of userList() | tuiTableSort"
          tuiTr
          >
          <td
            *tuiCell="'email'"
            tuiTd
            >
            {{ item.email }}
          </td>
          <td
            *tuiCell="'name'"
            tuiTd
            >
            {{ item.name }}
          </td>
          <td
            *tuiCell="'roles'"
            tuiTd
            >
            {{ item.roles.join(', ') }}
          </td>
          <td
            *tuiCell="'status'"
            tuiTd
            >
            {{ item.status }}
          </td>
          <td
            *tuiCell="'action'"
            tuiTd
            >
            <span tuiStatus>
              <button
                tuiButton
                size="s"
                appearance="info"
                (click)="openUpdateUserDialog(updateUserTpl, item)"
                >
                Chi tiết
              </button>
              <button
                tuiButton
                size="s"
                appearance="secondary"
                (click)="openDeleteUserDialog(deleteUserTpl, item)"
                >
                Xóa
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </cdk-virtual-scroll-viewport>
</tui-scrollbar>

<!-- Thêm mới -->
<ng-template
  #createUserTpl
  let-observer
  >
  <form
    [formGroup]="userForm"
    class="p-4"
    >
    <tui-input
      tuiAutoFocus
      formControlName="email"
      [tuiTextfieldCleaner]="true"
      >
      Email
      <input
        autocomplete="email"
        tuiTextfieldLegacy
        type="email"
        />
    </tui-input>
    @if (email?.invalid && email?.touched) {
      <div class="text-red-600 text-sm">
        @if (userForm.hasError('required', 'email')) {
          <div>Email là bắt buộc</div>
        }
        @if (userForm.hasError('email', 'email')) {
          <div>Email không hợp lệ</div>
        }
      </div>
    }

    <tui-input
      formControlName="password"
      type="password"
      [tuiTextfieldCleaner]="true"
      class="w-full mt-4"
      >
      Mật khẩu
      <input
        autocomplete="password"
        tuiTextfieldLegacy
        type="password"
        />
    </tui-input>
    @if (password?.invalid && password?.touched) {
      <div class="text-red-600 text-sm">
        @if (userForm.hasError('required', 'password')) {
          <div>Mật khẩu là bắt buộc</div>
        }
        @if (userForm.hasError('minlength', 'password')) {
          <div>Mật khẩu tối thiểu 6 ký tự</div>
        }
      </div>
    }

    <tui-input
      formControlName="name"
      [tuiTextfieldCleaner]="true"
      class="w-full mt-4"
      >
      Tên
      <input
        autocomplete="name"
        tuiTextfieldLegacy
        type="text"
        />
    </tui-input>
    @if (name?.invalid && name?.touched) {
      <div class="text-red-600 text-sm">
        @if (userForm.hasError('required', 'name')) {
          <div>Tên là bắt buộc</div>
        }
      </div>
    }

    <tui-multi-select
      [editable]="false"
      [rows]="1"
      [tuiTextfieldLabelOutside]="true"
      formControlName="roles"
      class="w-full mt-4"
      >
      <tui-data-list *tuiDataList>
        <tui-opt-group
          label="Select roles"
          tuiMultiSelectGroup
          >
          @for (item of RoleList; track item) {
            <button
              tuiOption
              type="button"
              [style.flex-direction]="'row-reverse'"
              [value]="item"
              >
              <span [style.flex]="1">{{ item }}</span>
            </button>
          }
        </tui-opt-group>
      </tui-data-list>
    </tui-multi-select>

    <tui-textfield
      tuiChevron
      [content]="status?.value"
      class="w-full mt-4"
      >
      <input
        placeholder="Choose status"
        tuiSelect
        formControlName="status"
        />

      <tui-data-list-wrapper
        *tuiTextfieldDropdown
        new
        [itemContent]="dropdownOptionContent"
        [items]="StatusList"
        />
    </tui-textfield>

    <ng-template
      #dropdownOptionContent
      let-status
      >
      <div class="card">
        {{ status }}
      </div>
    </ng-template>

    <p class="mt-8 flex justify-end">
      <button
        tuiButton
        type="submit"
        appearance="secondary"
        [disabled]="createUserStatus() === ApiStatus.LOADING"
        (click)="observer.complete()"
        >
        Huỷ
      </button>
      <tui-loader
        class="loader"
        [inheritColor]="true"
        [overlay]="true"
        [showLoader]="createUserStatus() === ApiStatus.LOADING"
        >
        <button
          tuiButton
          type="submit"
          appearance="primary"
          class="ml-2"
          [disabled]="userForm.invalid"
          (click)="createUser()"
          >
          Tạo mới
        </button>
      </tui-loader>
    </p>
  </form>
</ng-template>

<!-- Chi tiết / Cập nhật -->
<ng-template
  #updateUserTpl
  let-observer
  >
  <form
    [formGroup]="userForm"
    class="p-4"
    >
    <tui-input
      [readOnly]="true"
      tuiAutoFocus
      formControlName="email"
      [tuiTextfieldCleaner]="true"
      >
      Email
      <input
        autocomplete="email"
        tuiTextfieldLegacy
        type="email"
        />
    </tui-input>

    <tui-input
      formControlName="password"
      type="password"
      [tuiTextfieldCleaner]="true"
      class="w-full mt-4"
      >
      Mật khẩu
      <input
        autocomplete="password"
        tuiTextfieldLegacy
        type="password"
        />
    </tui-input>
    @if (password?.invalid && password?.touched) {
      <div class="text-red-600 text-sm">
        @if (userForm.hasError('required', 'password')) {
          <div>Mật khẩu là bắt buộc</div>
        }
        @if (userForm.hasError('minlength', 'password')) {
          <div>Mật khẩu tối thiểu 6 ký tự</div>
        }
      </div>
    }

    <tui-input
      formControlName="name"
      [tuiTextfieldCleaner]="true"
      class="w-full mt-4"
      >
      Tên
      <input
        autocomplete="name"
        tuiTextfieldLegacy
        type="text"
        />
    </tui-input>
    @if (name?.invalid && name?.touched) {
      <div class="text-red-600 text-sm">
        @if (userForm.hasError('required', 'name')) {
          <div>Tên là bắt buộc</div>
        }
      </div>
    }

    <tui-multi-select
      [editable]="false"
      [rows]="1"
      [tuiTextfieldLabelOutside]="true"
      formControlName="roles"
      class="w-full mt-4"
      >
      <tui-data-list *tuiDataList>
        <tui-opt-group
          label="Chọn vai trò"
          tuiMultiSelectGroup
          >
          @for (item of RoleList; track item) {
            <button
              tuiOption
              type="button"
              [style.flex-direction]="'row-reverse'"
              [value]="item"
              >
              <span [style.flex]="1">{{ item }}</span>
            </button>
          }
        </tui-opt-group>
      </tui-data-list>
    </tui-multi-select>

    <tui-textfield
      tuiChevron
      [content]="userForm.controls['status'].value"
      class="w-full mt-4"
      >
      <input
        placeholder="Chọn trạng thái"
        tuiSelect
        formControlName="status"
        />

      <tui-data-list-wrapper
        *tuiTextfieldDropdown
        new
        [itemContent]="statusSelectTpl"
        [items]="StatusList"
        />
    </tui-textfield>

    <ng-template
      #statusSelectTpl
      let-status
      >
      <div class="card">
        {{ status }}
      </div>
    </ng-template>

    <p class="mt-8 flex justify-end">
      <button
        tuiButton
        type="submit"
        appearance="secondary"
        [disabled]="updateUserStatus() === ApiStatus.LOADING"
        (click)="observer.complete()"
        >
        Quay lại
      </button>
      <tui-loader
        class="loader"
        [inheritColor]="true"
        [overlay]="true"
        [showLoader]="updateUserStatus() === ApiStatus.LOADING"
        >
        <button
          tuiButton
          type="submit"
          appearance="primary"
          class="ml-2"
          [disabled]="userForm.invalid"
          (click)="updateUser()"
          >
          Cập nhật
        </button>
      </tui-loader>
    </p>
  </form>
</ng-template>

<!-- Xoá người dùng -->
<ng-template
  #deleteUserTpl
  let-observer
  >
  <div class="p-4">
    <p class="text-lg font-semibold mb-4">
      Bạn có chắc chắn muốn xóa người dùng này không?
    </p>
    <p class="text-sm text-gray-600 mb-6">
      Việc xóa người dùng sẽ không thể hoàn tác. Vui lòng xác nhận để tiếp tục.
    </p>
    <div class="flex justify-end">
      <button
        tuiButton
        type="button"
        appearance="secondary"
        [disabled]="deleteUserStatus() === ApiStatus.LOADING"
        (click)="observer.complete()"
        >
        Huỷ
      </button>
      <tui-loader
        class="loader"
        [inheritColor]="true"
        [overlay]="true"
        [showLoader]="deleteUserStatus() === ApiStatus.LOADING"
        >
        <button
          tuiButton
          type="button"
          appearance="negative"
          class="ml-2"
          (click)="deleteUser()"
          >
          Xóa
        </button>
      </tui-loader>
    </div>
  </div>
</ng-template>
